@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: #006666;
}
