@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  height: auto;
  min-height: 100vh;
  margin: 0;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  color: aliceblue;
}

h4, p {
  margin: 0;
}
