.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search__input {
  height: 25px;
  padding: 4px 10px;
  outline: none;
  border: 0;
  border-radius: 10px 0px 0px 10px;
}

.search__button {
  border: 0;
  height: 34px;
  padding: 4px 10px;
  outline: none;
  color: aliceblue;
  background-color: black;
  border-radius: 0px 10px 10px 0px;
}